<section id="header">
	<header>
    <span class="image avatar"><img src="{{ site.baseurl }}/images/profile-3.jpg" alt="" /></span>
    <h1 id="logo"><a href="{{ site.baseurl }}/">Fruzsina Julia Agocs</a></h1>
    </header>
	<nav id="nav">
		<ul>
            <li><a href="{{ site.baseurl }}/">About</a></li>
<!--            <li><a href="{{ site.baseurl }}/research">Research</a></li>
            <li><a href="{{ site.baseurl }}/publications">Publications</a></li>
            <li><a href="{{ site.baseurl }}/talks">Talks</a></li>
            <li><a href="{{ site.baseurl }}/software">Software</a></li>
            <li><a href="{{ site.baseurl }}/outreach">Outreach</a></li>
            <li><a href="{{ site.baseurl }}/blog">Blog</a></li> -->

			<li><a href="#research">Research</a></li>
            <li><a href="#publications">Publications</a></li>
            <li><a href="#talks">Talks</a></li>
            <li><a href="#software">Software</a></li>
            <li><a href="#outreach">Outreach</a></li>
            <li><a href="{{ site.baseurl }}/blog">Blog</a></li> -->


		</ul>
	</nav>
	<footer>
		<ul class="icons">
			<li><a href="#" class="icon brands fa-twitter"><span class="label">Twitter</span></a></li>
			<li><a href="#" class="icon brands fa-facebook-f"><span class="label">Facebook</span></a></li>
			<li><a href="#" class="icon brands fa-instagram"><span class="label">Instagram</span></a></li>
			<li><a href="#" class="icon brands fa-github"><span class="label">Github</span></a></li>
			<li><a href="#" class="icon solid fa-envelope"><span class="label">Email</span></a></li>
		</ul>
	</footer>
</section>


