        <!-- Header-->
        <section id="header">
    	    <header>
                <span class="image avatar"><img src="{{ 'images/profile-3.jpg' | relative_url }}" alt="" /></span>
                <h1 id="logo"><a href="#">Fruzsina Julia Agocs</a></h1>
            </header>
        	<nav id="nav">
        		<ul>
                    <li><a href="{{ site.baseurl }}/#about">About</a></li>
                    <li><a href="{{ site.baseurl }}/#research">Research</a></li>
                    <li><a href="{{ site.baseurl }}/#publications">Publications</a></li>
                    <li><a href="{{ site.baseurl }}/#talks">Talks</a></li>
                    <li><a href="{{ site.baseurl }}/#software">Software</a></li>
                    <li><a href="{{ site.baseurl }}/#outreach">Teaching/Outreach</a></li>
                    <li><a href="{{ site.baseurl }}/blog">Blog</a></li>
        		</ul>
        	</nav>
    	    <footer>
    	    	<ul class="icons">
    	    		<li><a href="https://github.com/fruzsinaagocs" class="icon brands fa-github" color=#fff><span class="label">Github</span></a></li>
    	    		<li><a href="mailto:fagocs@flatironinstitute.org" class="icon solid fa-envelope" color=#fff><span class="label">Email</span></a></li>
    	    		<li><a href="https://orcid.org/0000-0002-1763-5884" class="icon brands fa-orcid" color=#fff><span class="label">ORCID</span></a></li>
    	    		<li><a href="https://www.linkedin.com/in/fruzsina-julia-agocs/" class="icon brands fa-linkedin" color=#fff><span class="label">linkedin</span></a></li>
                    <li><a href="https://www.instagram.com/frusbirds/" class="icon brands fa-instagram" color= #fff><span class="label">Instagram</span></a></li>
    	    	</ul>
    	    </footer>
        </section>
 
